<h1 class="title">Вход</h1>
<form method="post" action="" enctype="application/x-www-form-urlencoded">
    <p>
        <label>
            Введи имя:<!--SPACES[11]-->
            <input type="text" maxlength="20" name="name" value="<!--INPUT_NAME-->">
        </label>
    </p>
    <p>
        <label>
            Введи пароль:<!--SPACES[6]-->
            <input type="password" maxlength="30" name="password" value="<!--INPUT_PASSWORD-->">
        </label>
    </p>
    <p>
        <label>
            Защита от ботов:<!--SPACES[1]-->
            <input type="text" maxlength="20" name="captcha" value=""><br><br>
            <a href="">Обновить капчу</a><br>
            <img src="../captcha/">
        </label>

    </p>
    <p>
        <input type="hidden" name="button" value="pushed">
    </p>
    <p>
        <input type="submit" value="Войти">
    </p>
</form>
